* {
  margin: 0;
  padding: 0;
}

body {
  padding: 2% 3%;
}

canvas {
  display: block;
}

#agrupador {
  display: flex;
  gap: 50px;
  padding: 20px 35px;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  margin-bottom: 20px;
  width: 250px;
}

input {
  width: 100%;
}

.voltar {
  position: absolute;
  font-weight: bold;
  top: 93%;
}
