* {
  margin: 0;
  padding: 0;
}

body {
  padding: 2% 3%;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  margin-bottom: 20px;
  width: 250px;
}

input {
  width: 100%;
}

.divisor {
  height: 500px;
}
