/* CABEÇALHO */
header {
  margin-bottom: 2.5%;
  animation: transicaoTitulo 1s;
}

@keyframes transicaoTitulo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* SEÇÕES */
#agrupador {
  display: block;
  animation: transicao 0.75s;
}

@keyframes transicao {
  from {
    opacity: 0;
    position: relative;
    top: 100px;
  }

  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

.btn {
  height: auto;
  border-radius: 50px;
  padding: 10px 15px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

#configs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}

#coeficientes input {
  width: 30px;
  height: 30px;
  text-align: center;
}

#funcoes label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#configs input[type="checkbox"] {
  transform: scale(2);
  margin-inline: 15px;
}

#marcador {
  display: flex;
  flex-direction: column;
}

#marcador #anguloInput {
  padding-inline: 10px;
  height: 30px;
}

#vermelho {
  color: red;
}

#azul {
  color: blue;
}

#verde {
  color: #00bf63;
}
