/* CABEÇALHO */
header {
  margin-bottom: 3%;
  animation: transicaoTitulo 1s;
}

@keyframes transicaoTitulo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* SEÇÕES */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="number"],
input[type="text"] {
  text-align: center;
}

input[type="number"] {
  border: none;
  background-color: transparent;
}

input[type="text"] {
  width: 120px;
}

#agrupador {
  align-items: center;
  justify-content: center;
  animation: transicao 0.75s;
}

.container {
  padding: 20px;
}

.divisor {
  height: 500px;
}

#angulos {
  text-align: center;
}

#valoresLados label {
  display: flex;
  justify-content: space-between;
}

.separador {
  display: grid;
  width: 275px;
}

#divTabela {
  padding: 15px;
}

.tabela {
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.tabela th,
.tabela td {
  padding: 5px;
}

.tabela thead,
.tabela td:not(td.valorTabela) {
  background-color: rgb(162, 255, 182);
}

.tabela thead th button {
  background: none;
  border: none;
}

.valorTabela {
  font-size: 20px;
  background-color: rgb(245, 245, 245);
  transition: 0.1s;
}

.valorTabela:hover {
  background-color: rgb(230, 230, 230);
  scale: 1.12;
}

#vermelho {
  color: red;
}

#azul {
  color: blue;
}

#verde {
  color: #00bf63;
}

#modal {
  width: 60%;
  height: 60%;
  border: none;
  padding: 50px;
  text-align: center;
  border-radius: 10px;

  animation: transicao 0.5s;
}

@keyframes transicao {
  from {
    opacity: 0;
    position: relative;
    top: 100px;
  }

  to {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

#modal header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

#modal header h2 {
  margin: 0;
  align-self: center;
}

#modal header button {
  padding: 5px 10px;
  border: none;
  border-radius: 15%;
  font-weight: bold;
  background-color: rgb(255, 75, 75);
  color: white;
}

#modal hr {
  margin-bottom: 50px;
}
