* {
  margin: 0;
  padding: 0;
}

body {
  padding: 2% 3%;
}

#agrupador {
  align-items: center;
}

#voltar a {
  text-decoration: none;
  color: #007bff;
}

#voltar a:hover {
  text-decoration: underline;
}
